<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="trackURL" value="http://track.ironman.com/newathlete.php?rid=$rid$&amp;bib=$bib$&amp;v=3.0" />
    <add key="athleteRefs" value="21474837350-Kona:889-Matt Cockerill;2367-Leah Carroll" />
    <add key="pushoverAPIkey" value="awkhn4pqphb5d1iaodd6h7y1v4szyt" />
    <add key="pushoverGroupKey" value="gxxhsp65pzhvydqzb6bpsujomik7tn" />
    <add key="pushoverAdminKey" value="uuVhrw9eMLssJD9BwD5JYgcgtYZCHE"/>
    <add key="refreshfrequencySecs" value="300" />
    <add key="lastDailyPing" value="07/10/2016"/>
    <add key="status" value="active"/>
    <add key="dormantsleepsecs" value="60"/>
  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsStorage"   connectionString="DefaultEndpointsProtocol=https;AccountName=bitetosimtrack;AccountKey=qa5oMzR08PPcAQkk+ZVJC4qbgKVeEVYapsqPvPSaHnFdBqDsVdkK6ZVXeqR5Q5IAaeV4QJcLueZioZ6N7vlJNw==" />
    <add name="AzureCloudStorage"     connectionString="DefaultEndpointsProtocol=https;AccountName=bitetosimtrack;AccountKey=qa5oMzR08PPcAQkk+ZVJC4qbgKVeEVYapsqPvPSaHnFdBqDsVdkK6ZVXeqR5Q5IAaeV4QJcLueZioZ6N7vlJNw==" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=bitetosimtrack;AccountKey=qa5oMzR08PPcAQkk+ZVJC4qbgKVeEVYapsqPvPSaHnFdBqDsVdkK6ZVXeqR5Q5IAaeV4QJcLueZioZ6N7vlJNw==" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>